
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.App {
  display: flex;
} 

.main-home {
  display: flex;
  gap: 10px;
}

/* .active-nav {
  width: 100%;
} */

.doctor-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home {
  width: 100%;
}

.grd {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 80%;
  height: 70%;
  margin: auto;
}

.side {
  display: flex;
}

.sidebar {
  display: flex;
  width: 20%;
  border: 1px solid #000;
  height: 100vh;
}

.home-top-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 55%;
} 

 .humbergur {
  display: none;
}

/* .Sidemenu {
  display: flex;
}  */


@media (max-width: 600px) {
  .grd {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 80%;
    height: 70%;
    margin: auto;
  }

  .humbergur {
    display: flex;
    border: 0;
    position: absolute;
    z-index: 99;
  }

  /* .active-nav {
    display: flex;
    width: 200px;
    background: red;
    position: fixed;
    height: 300px;
  } */
  
  .close {
    display: block;
    border: 0;
    background: #fff;
   }

  .home {
    width: 100%;
    margin: auto;
  }

  .desk {
    display: none;
  }

  .side {
    display: none !important;
  }
}

@media (min-width: 601px)  and (max-width: 920px) {
  .grd {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    height: 70%;
    margin: auto;
  }
  .side {
    display: none !important;
  }

  .desk {
    display: none;
  }

  .humbergur {
    display: flex;
    border: 0;
    background: #fff;
    z-index: 99;
    position: absolute;
  }

  .home {
    width: 100%;
    margin: auto;
  }

  .close {
    display: block;
    border: 0;
    background: #fff;
   }
}