
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.main-home {
  display: flex;
  gap: 10px;
}

.doctor-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home {
  width: 80%;
}

.grd {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 80%;
  height: 70%;
  margin: auto;
}

.sidebar {
  width: 20%;
  border: 1px solid #000;
  height: 100vh;
}

.home-top-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 55%;
}

/* .item, :hover {

} */

.form-container {
  height: 100%;
  width: 100%;
  background-color: rgb(78, 100, 83);
  /* background-color: rgb(161, 233, 175); */
  display: flex;
  justify-content: center;
}
  
.form-ctn {
  width: 50%;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 14px 80px rgba(34, 35, 58, 0.2);
  margin: 25px 0;
  padding: 10px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
}
form {
  margin-top: 15px;
}
label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  color: #2c2a2a;
  font-size: 1rem;
}
label input {
  height: 50px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}
.create-doctor-button {
  width: fit-content;
  text-align: center;
  padding: 12px;
  margin-top: 15px;
  border: none;
  border-radius: 10px;
  background: #64ac66;
  color: white;
  cursor: pointer;
  transition: all 300ms linear 0s;
}
